<demo-validation-defaults class="d-none"></demo-validation-defaults>
<header>
  <nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <h1 class="navbar-brand mb-0">
        <a class="navbar-brand pt-0 pb-0" routerLink="/">ngx-valdemort <small class="d-none d-sm-inline">by Ninja Squad</small></a>
      </h1>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="navbarCollapsed = !navbarCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="navbarContent" [ngbCollapse]="navbarCollapsed">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" role="button" id="integration-menu" ngbDropdownToggle> Integration </a>
            <div ngbDropdownMenu class="dropdown-menu-dark" aria-labelledby="integration-menu">
              <a class="dropdown-item" routerLink="/bootstrap">Bootstrap</a>
              <a class="dropdown-item" routerLink="/material">Material</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="documentation/index.html">API documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Ninja-Squad/ngx-valdemort">
              <img alt="" src="/assets/github.png" />
              Github
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main role="main" class="container mt-5">
  <router-outlet></router-outlet>
</main>
