<val-default-errors>
  <ng-template valError="required" let-label>{{ label }} is required</ng-template>
  <ng-template valError="minlength" let-error="error" let-label>{{ label }} must be at least {{ error.requiredLength | number }} characters long</ng-template>
  <ng-template valError="maxlength" let-error="error" let-label>{{ label }} must be at most {{ error.requiredLength | number }} characters long</ng-template>
  <ng-template valError="pattern" let-label>{{ label }} doesn't have the required format</ng-template>
  <ng-template valError="email" let-label>{{ label }} must be a valid email address</ng-template>
  <ng-template valError="min" let-error="error" let-label>{{ label }} must be at least {{ error.min | number }}</ng-template>
  <ng-template valError="max" let-error="error" let-label>{{ label }} must be minimum at most {{ error.min | number }}</ng-template>
</val-default-errors>

<div class="container">
  <h1>Welcome to ngx-valdemort</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="firstName">First name (required)</label>
      <input id="firstName" formControlName="firstName" class="form-control"/>
      <val-errors controlName="firstName" label="The first name"></val-errors>
    </div>

    <div class="form-group">
      <label for="lastName">Last name (required, min length 2, only letters -> custom message)</label>
      <input id="lastName" formControlName="lastName" class="form-control" />
      <val-errors controlName="lastName" label="The last name">
        <ng-template valError="pattern">The last name must only contain letters</ng-template>
      </val-errors>
    </div>

    <div class="form-group">
      <label for="age">Age (required, min 18 -> custom message with error exposed)</label>
      <input id="age" formControlName="age" type="number" class="form-control"/>
      <val-errors controlName="age" label="The age">
        <ng-template valError="min" let-error="error">You must be at least {{ error.min | number }} years old</ng-template>
      </val-errors>
    </div>

    <div formGroupName="credentials">
      <div class="form-group">
        <label for="password">Password (required)</label>
        <input id="password" formControlName="password" class="form-control" type="password"/>
        <val-errors controlName="password" label="The password"></val-errors>
      </div>

      <div class="form-group">
        <label for="password">Password confirmation (required)</label>
        <input id="confirmation" formControlName="confirmation" class="form-control" type="password"/>
        <val-errors controlName="confirmation" label="The password confirmation"></val-errors>
        <val-errors [control]="form.get('credentials')">
          <ng-template valError="validCredentials">The confirmation <strong>must</strong> match the password</ng-template>
        </val-errors>
      </div>
    </div>

    <button class="btn btn-primary">Submit</button>

  </form>

  <hr/>

  <form ngSubmit="submitPerson()">
    <div class="form-group">
      <label for="name">Name (required)</label>
      <input id="name" class="form-control" name="name" [(ngModel)]="person.name" required #n="ngModel"/>
      <val-errors controlName="name" label="The name"></val-errors>
    </div>

    <div ngModelGroup="address">
      <div class="form-group">
        <label for="street">Street (required)</label>
        <input id="street" class="form-control" name="street" [(ngModel)]="person.address.street" required />
        <val-errors controlName="street" label="The street"></val-errors>
      </div>

      <div class="form-group">
        <label for="city">City (required)</label>
        <input id="city" class="form-control" name="city" [(ngModel)]="person.address.city" required #cityCtrl="ngModel" />
        <val-errors [control]="cityCtrl.control" label="The city"></val-errors>
      </div>
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>

  <hr/>

  <div class="form-group">
    <input [(ngModel)]="search" #s="ngModel" placeholder="Search" class="form-control" pattern="^[0-9]*$"/>
    <val-errors [control]="s.control" label="The search"></val-errors>
  </div>

  <div class="form-group">
    <input [formControl]="searchCtrl" placeholder="Search reactively" class="form-control" />
    <val-errors [control]="searchCtrl" label="The reactive search"></val-errors>
  </div>

  <hr/>

  <form [formGroup]="dynamicForm">
    <div formArrayName="occupations">
      <div class="form-group" *ngFor="let o of occupations.controls; index as i">
        <input [formControlName]="i" class="form-control" placeholder="Occupation"/>
        <val-errors [controlName]="i" label="Each occupation"></val-errors>
      </div>
    </div>
  </form>
</div>
