<val-default-errors>
  <ng-template valError="required" let-label>{{ label || 'This field' }} is required</ng-template>
  <ng-template valError="minlength" let-error="error" let-label>{{ label || 'This field' }} must be at least {{ error.requiredLength | number }} characters long</ng-template>
  <ng-template valError="maxlength" let-error="error" let-label>{{ label || 'This field' }} must be at most {{ error.requiredLength | number }} characters long</ng-template>
  <ng-template valError="pattern" let-label>{{ label || 'This field' }} doesn't have the required format</ng-template>
  <ng-template valError="email" let-label>{{ label || 'This field' }} must be a valid email address</ng-template>
  <ng-template valError="min" let-error="error" let-label>{{ label || 'This field' }} must be at least {{ error.min | number }}</ng-template>
  <ng-template valError="max" let-error="error" let-label>{{ label || 'This field' }} must be at most {{ error.min | number }}</ng-template>
</val-default-errors>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <h1 class="navbar-brand mb-0">ngx-valdemort <small class="d-none d-sm-inline">by Ninja Squad</small></h1>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" (click)="navbarCollapsed = !navbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" id="navbarContent" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="documentation/index.html">API documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Ninja-Squad/ngx-valdemort">
          <img alt="" src="/assets/github.png" />
          Github
        </a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container mt-5">

  <div class="jumbotron d-sm-flex">
    <div class="logo">
      <img src="/assets/logo.svg" alt="logo" />
    </div>
    <div class="flex-fill">
      <h2>ngx&#8209;valdemort <small>by&nbsp;Ninja&nbsp;Squad</small></h2>
      <p class="lead">
        Simple, consistent validation error messages for your Angular forms.
      </p>
    </div>
  </div>

  <h2>The problem</h2>

  <demo-problem></demo-problem>

  <h2>Our solution: ngx-valdemort</h2>

  <demo-solution></demo-solution>

  <h2>Consistent error messages</h2>

  <demo-consistency></demo-consistency>

  <h2>Configuration</h2>

  <demo-configuration></demo-configuration>

  <h2>Features</h2>

  <ul class="features">
    <li>Minimum markup needed</li>
    <li>Consistent, default error messages</li>
    <li>Generic or control-specific default error messages by specifying a label</li>
    <li>Overriding of default messages for custom error messages</li>
    <li>All error messages have access to the error value (min, max, required length, etc.)</li>
    <li>I18n possible</li>
    <li>HTML in messages possible</li>
    <li>Use of pipes in messages possible</li>
    <li>Usable in reactive forms, template-driven forms, or standalone controls</li>
    <li>Usable on controls nested in form groups or form arrays</li>
    <li>Central configuration service</li>
    <li>Free, and open-source. <a href="https://github.com/Ninja-Squad/ngx-valdemort">The code is available on Github</a></li>
  </ul>
</main>
