singleQuote: true
printWidth: 140
arrowParens: avoid
trailingComma: none
overrides:
  - files: "*.component.html"
    options:
      parser: angular
  - files: "*.html"
    options:
      parser: html
