<p>Here is how you do the same using ngx-valdemort:</p>

<demo-snippet [code]="introSnippet" lang="html" />

<p>And here is the same complete small form.</p>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Template</a>
    <ng-template ngbNavContent>
      <demo-snippet [code]="snippet" lang="html" />
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Demo</a>
    <ng-template ngbNavContent>
      <div class="demo">
        <form [formGroup]="form" #f="ngForm">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input formControlName="email" class="form-control" type="email" />
            <val-errors controlName="email">
              <ng-template valError="required">The email is required</ng-template>
              <ng-template valError="email">The email must be a valid email address</ng-template>
            </val-errors>
          </div>

          <div class="mb-3">
            <label class="form-label">Age</label>
            <input formControlName="age" class="form-control" type="number" />
            <val-errors controlName="age">
              <ng-template valError="required">The age is required</ng-template>
              <ng-template valError="min" let-error="error">You must be at least {{ error.min }} years old</ng-template>
            </val-errors>
          </div>

          <button class="btn btn-primary me-2" (click)="submit()">Submit</button>
          <button class="btn btn-secondary" type="button" (click)="reset(f)">Reset</button>
        </form>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>

<p>
  This is already much better. The code is much easier to read and write, and the probability of introducing a bug is much smaller than
  before. But we can do better, and avoid repeating the same error messages over and over.
</p>
