<p>The behavior of ngx-valdemort is configured via a configuration service. The same look and feel can thus be applied globally.</p>
<p>
  Instead of displaying errors when the control is touched or its form is submitted, the following example uses the service to specify that
  errors should be shown when the controls are dirty, to add a CSS class on errors to display them in orange rather than red, and to only
  display one error message per control instead of all of them.
</p>
<p>
  Such a configuration is typically done only once, in the root component (or in a dedicated component inserted in the root component), to
  ensure that the same configuration applies everywhere.
</p>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>App component</a>
    <ng-template ngbNavContent>
      <demo-snippet [code]="snippet" lang="angular-ts" />
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Demo</a>
    <ng-template ngbNavContent>
      <div class="demo">
        <form [formGroup]="form" #f="ngForm">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="elail" formControlName="email" class="form-control" type="email" />
            <val-errors controlName="email" label="The email" />
          </div>

          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input id="age" formControlName="age" class="form-control" type="number" />
            <val-errors controlName="age" label="The age">
              <ng-template valError="min" let-error="error">You must be at least {{ error.min }} years old</ng-template>
            </val-errors>
          </div>

          <button class="btn btn-primary me-2" (click)="submit()">Submit</button>
          <button class="btn btn-secondary" type="button" (click)="reset(f)">Reset</button>
        </form>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>
