<form [formGroup]="form" #f="ngForm">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input id="email" formControlName="email" class="form-control" type="email" />
    @if (form.controls.email.invalid && (f.submitted || form.controls.email.touched)) {
      <div class="invalid-feedback">
        @if (form.controls.email.hasError('required')) {
          <div>The email is required</div>
        }
        @if (form.controls.email.hasError('email')) {
          <div>The email must be a valid email address</div>
        }
      </div>
    }
  </div>

  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input id="age" formControlName="age" class="form-control" type="number" />
    @if (form.controls.age.invalid && (f.submitted || form.controls.age.touched)) {
      <div class="invalid-feedback">
        @if (form.controls.age.hasError('required')) {
          <div>The age is required</div>
        }
        @if (form.controls.age.hasError('min')) {
          <div>You must be at least {{ form.controls.age.getError('min').min }} years old</div>
        }
      </div>
    }
  </div>

  <button class="btn btn-primary me-2" (click)="submit()">Submit</button>
  <button class="btn btn-secondary" type="button" (click)="reset(f)">Reset</button>
</form>
