<ol>
  <li>import from <code>ngx-valdemort</code></li>
  <li>
    add <code>ValdemortModule</code> to the imports of your module, or directly import our standalone components and directives from your
    components
  </li>
  <li>
    Use <code>&lt;val-errors&gt;</code>, <code>&lt;val-default-errors&gt;</code> and <code>ValdemortConfig</code>
    as shown above
  </li>
  <li>...</li>
  <li>Profit!</li>
</ol>
<p>We also have an <a href="documentation/index.html">API documentation</a>.</p>

<demo-snippet [code]="snippet" lang="typescript"></demo-snippet>
