<div class="row mb-4">
  <div class="col-lg-4 mb-4 mb-lg-0">
    <ol>
      <li>import from <code>ngx-valdemort</code></li>
      <li>add <code>ValdemortModule</code> to the imports of your module</li>
      <li>
        Use <code>&lt;val-errors&gt;</code>, <code>&lt;val-default-errors&gt;</code> and <code>ValdemortConfig</code>
        as shwon above
      </li>
      <li>...</li>
      <li>Profit!</li>
    </ol>

    We also have an <a href="documentation/index.html">API documentation</a>.
  </div>
  <div class="col-lg-8">
    <demo-snippet [code]="snippet" lang="typescript"></demo-snippet>
  </div>
</div>

