@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.logo {
  text-align: center;
  img {
    width: 220px;
  }
}

@include media-breakpoint-up(sm) {
  .logo {
    text-align: left;
    margin-top: -40px;
  }
}

.feature-block {
  padding: 2rem;
  .fa {
    font-size: 5rem;
    color: $text-muted;
  }
  h3 {
    font-size: 1.5rem;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li:before {
      content: '✓';
      padding-right: 1ch;
    }
  }
}
