<div class="jumbotron d-sm-flex">
  <div class="logo">
    <img src="/assets/logo.svg" alt="logo" />
  </div>
  <div class="flex-fill">
    <h2>ngx&#8209;valdemort
      <small>by&nbsp;Ninja&nbsp;Squad</small>
    </h2>
    <p class="lead">
      Simple, consistent validation error messages for your Angular forms.
    </p>
  </div>
</div>

<h2>Tired of writing the same validation logic again, and again?</h2>

<demo-problem></demo-problem>

<h2>Our solution: ngx-valdemort</h2>

<demo-solution></demo-solution>

<h2>Consistent error messages? We've got you covered!</h2>

<demo-consistency></demo-consistency>

<h2>Easily adapt ngx-valdemort to your preferences</h2>

<demo-configuration></demo-configuration>

<div class="row mt-5">
  <div class="col-md-4">
    <div class="text-center">
      <i class="fa fa-exclamation-triangle"></i>
      <h4>Esay to use</h4>
    </div>
    <ul class="features">
      <li>Minimum markup needed</li>
      <li>Add
        <code>val-errors</code>, and you're set!</li>
      <li>Consistent, default error messages</li>
    </ul>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <i class="fa fa-battery-full"></i>
      <h4>Configurable</h4>
    </div>
    <ul class="features">
      <li>Generic or control-specific default error messages by specifying a label</li>
      <li>Overriding of default messages for custom error messages</li>
      <li>Access to the error value (min, max, required length, etc.)</li>
      <li>Central configuration service</li>
    </ul>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <i class="fa fa-gavel"></i>
      <h4>Customisable</h4>
    </div>
    <ul class="features">
      <li>I18n possible</li>
      <li>HTML in messages possible</li>
      <li>Use of pipes in messages possible</li>
    </ul>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6">
    <div class="text-center">
      <i class="fa fa-check"></i>
      <h4>Usable everywhere</h4>
    </div>
    <ul class="features">
      <li>In reactive forms, template-driven forms, or standalone controls</li>
      <li>On controls nested in form groups or form arrays</li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <i class="fa fa-heart"></i>
      <h4>Free, and open-source.</h4>
    </div>
    <ul class="features">
      <li>MIT license</li>
      <li>
        <a href="https://github.com/Ninja-Squad/ngx-valdemort">The code is available on Github</a>
      </li>
    </ul>
  </div>
</div>

<h2 class="mt-5">You convinced me. How to get started?</h2>

<demo-getting-started></demo-getting-started>
